@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  font-size: 160px;
  padding: 8px;
  padding-left: 15px;
    color: white;
}
* {
font-family: 'Alfa Slab One'
}

body {
 background-image: url("./imigess/dg.jpeg");
 background-color: #cccccc;
}